.editableSpanInput {
  height: 80%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid rgba(36, 37, 74, 0.2);
  max-width: 90%;
  min-width: 90%;
  white-space: normal;
}

.editableSpan {
  cursor: pointer;
  white-space: pre-line;
}