.notesWrapper {
  width: 838px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  .notesCreationBarWrapper {
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin: 20px 0;
    align-items: end;
  }

  .inputsContainer {
    height: 100px;
    display: flex;

    form {
      display: flex;
      .inputWrapper {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;

        .todoInput {
          border: 2px solid rgba(128, 128, 128, 0.74);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          padding: 10px;
          height: 45px;
          margin: 10px 10px 0 0;
        }
      }
    }
  }

  .filterBtnWrapper {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .btn {
      height: 40px;
      width: 100px;
      background-color: #21268F;
      color: #F9F9FE;
      border-radius: 30px;
      box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    }
    .btn:hover {
      background-color: rgba(33, 38, 143, 0.7);
      transition: 0.2s;
    }
    .active {
      background-color: #647dee;
    }

  }
}

